/*

Darko Bunic
http://www.redips.net/
Nov, 2010.

*/
body {
	font-family: arial;
}

/* green button - start */
.green {
	color: white;
	background-color: #41A128;
	border-width: 2px;
}

/* blue button - stop */
.blue {
	color: white;
	background-color: #6A93D4;
	border-width: 1px;
}

/* progress container */
div#progress_container {
	border: 1px double #ccc;
	/*width: 180px;*/
	margin: 0px;
	padding: 0px;
	text-align: left;
}

/* progress bar */
div#progress {
	color: white;
	background-color: #FF8D40;
	background: url(4.gif);
	height: 10.5px;
	padding-bottom: 2px;
	font-size: 9.5px;
	text-align: center;
	overflow: hidden;
}